body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 40px;
  width: 800px;
  text-align: center;
}

.app.dark-mode {
  background-color: #282c34;
}

.app-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.question-container {
  margin-top: 20px;
}

.question-number {
  font-size: 42px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 50px;
  margin-bottom: 20px;
}

.answer-text {
  font-size: 50px;
  margin-bottom: 20px;
  color: #4caf50; /* Adjusted color for answers */
}

.next-button,
.play-again-button,
.start-button {
  background-color: #61dafb;
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}

.next-button:hover,
.play-again-button:hover,
.start-button:hover {
  background-color: #4fa3d1;
}

.file-dropdown {
  margin-bottom: 20px;
}

#fileSelect {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.next-button:disabled,
.play-again-button:disabled,
.start-button:disabled {
  background-color: #b0b0b0;
  color: #666666;
  cursor: not-allowed;
}

.question-image {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 20px;
}